version: '3.8'

x-base: &base
  build:
    dockerfile: develop.Dockerfile
  command: echo 'ok!'
  tty: true
  stdin_open: true
  volumes:
    - ./:/app
  working_dir: /app
  environment:
    NODE_ENV: development
    AMQP_URL: amqp://guest:guest@rabbitmq:5672
    BASE_URL: http://web:9876
    REDIS_URL: redis://redis:6379
    STORAGE_ENDPOINT: http://minio:9000
    GOOGLE_APPLICATION_CREDENTIALS: ${GOOGLE_APPLICATION_CREDENTIALS}
  depends_on:
    - redis
    - rabbitmq

x-minio: &minio
  image: quay.io/minio/minio:latest
  command: server --console-address ":9001" --address ":9000" http://minio1/data http://minio2/data http://minio3/data
  env_file: .env
  environment:
    MINIO_SERVER_URL: http://localhost:9000
    MINIO_BROWSER_REDIRECT_URL: http://localhost:9001
  expose:
    - 9000:9000
    - 9001:9001
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3

services:
  web:
    <<: *base
    command: yarn web-dev
    restart: on-failure
    ports:
      - 9876:9876

  worker:
    <<: *base
    command: sh -c 'wait-for redis:6379 rabbitmq:5672 -- yarn worker-dev'
    restart: on-failure

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    restart: on-failure

  redis:
    image: redis:7-alpine
    volumes:
      - redis:/data
    command: redis-server --appendonly yes
    ports:
      - 6379:6379
    restart: on-failure

  minio1:
    <<: *minio
    volumes:
      - storage1:/data

  minio2:
    <<: *minio
    volumes:
      - storage2:/data

  minio3:
    <<: *minio
    volumes:
      - storage3:/data

  minio:
    image: caddy
    ports:
      - 9000:80
    command: caddy reverse-proxy --insecure -v 
              --from :80 --to minio1:9000,minio2:9000,minio3:9000
    depends_on:
      - minio1
      - minio2
      - minio3

  minio-console:
    image: caddy
    ports:
      - 9001:80
    command: caddy reverse-proxy --insecure -v 
              --from :80 --to minio1:9001,minio2:9001,minio3:9001
    depends_on:
      - minio1
      - minio2
      - minio3

  minio-mc:
    image: quay.io/minio/mc:latest
    env_file: .env
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set local $STORAGE_ENDPOINT $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD;
      /usr/bin/mc mb local/$STORAGE_BUCKET_NAME;
      "

volumes:
  rabbitmq:
  redis:
  storage1:
  storage2:
  storage3:
